<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" th:href="@{public/stock/css/layui.css}">
    <link rel="stylesheet" th:href="@{public/stock/css/view.css}"/>
    <title></title>
</head>
<body class="layui-view-body">
    <div class="layui-content">
        <div class="layui-row layui-col-space20">
            <div class="layui-col-sm3" style="margin-left: -12%"></div>
            <div class="layui-col-sm6 layui-col-md3">
                <div class="layui-card">
                    <div class="layui-card-body chart-card">
                        <div class="chart-header">
                            <div class="metawrap">
                                <div class="meta">
                                    <span id="sh_name">上证指数</span>
                                </div>
                                <div class="total">
                                    <span id="sh_current_price">0.00</span>
                                </div>
                            </div>
                        </div>
                        <div class="chart-body">
                            <div class="content-wrap">
                                <span class="content-wrap-left" id="sh_current_ups_downs">+0.00</span>&nbsp;&nbsp;
                                <span class="content-wrap-right" id="sh_current_percent">+0.00%</span>
                            </div>
                        </div>
                        <div class="chart-footer">
                            <div class="field">
                                <div class="field-left">成交量&nbsp;&nbsp;&nbsp;(手)</div>
                                <span class="field-right" id="sh_current_volume">0</span>
                            </div>
                            <div class="field">
                                <span class="field-left">成交额(万元)</span>
                                <span class="field-right"  id="sh_current_turnover">0</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-col-sm6 layui-col-md3">
                <div class="layui-card">
                    <div class="layui-card-body chart-card">
                        <div class="chart-header">
                            <div class="metawrap">
                                <div class="meta">
                                    <span id="sz_name">深圳成指</span>
                                </div>
                                <div class="total">
                                    <span id="sz_current_price">0.00</span>
                                </div>
                            </div>
                        </div>
                        <div class="chart-body">
                            <div class="content-wrap">
                                <span class="content-wrap-left" id="sz_current_ups_downs">+0.00</span>&nbsp;&nbsp;
                                <span class="content-wrap-right" id="sz_current_percent">+0.00%</span>
                            </div>
                        </div>
                        <div class="chart-footer">
                            <div class="field">
                                <div class="field-left">成交量&nbsp;&nbsp;&nbsp;(手)</div>
                                <span class="field-right" id="sz_current_volume">0</span>
                            </div>
                            <div class="field">
                                <span class="field-left">成交额(万元)</span>
                                <span class="field-right"  id="sz_current_turnover">0</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-col-sm6 layui-col-md3">
                <div class="layui-card">
                    <div class="layui-card-body chart-card">
                        <div class="chart-header">
                            <div class="metawrap">
                                <div class="meta">
                                    <span id="cy_name">创业板指</span>
                                </div>
                                <div class="total">
                                    <span id="cy_current_price">0.00</span>
                                </div>
                            </div>
                        </div>
                        <div class="chart-body">
                            <div class="content-wrap">
                                <span class="content-wrap-left" id="cy_current_ups_downs">+0.00</span>&nbsp;&nbsp;
                                <span class="content-wrap-right" id="cy_current_percent">+0.00%</span>
                            </div>
                        </div>
                        <div class="chart-footer">
                            <div class="field">
                                <div class="field-left">成交量&nbsp;&nbsp;&nbsp;(手)</div>
                                <span class="field-right" id="cy_current_volume">0</span>
                            </div>
                            <div class="field">
                                <span class="field-left">成交额(万元)</span>
                                <span class="field-right"  id="cy_current_turnover">0</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-col-sm12 layui-col-md12">
                <div class="layui-card" style="margin-top: -6px">
                    <div class="layui-tab layui-tab-brief">
                        <ul class="layui-tab-title">
                            <li class="layui-this">分时</li>
                            <li>日k</li>
                        </ul>
                        <div class="layui-tab-content">
                            <div class="layui-tab-item layui-show">
                                <div class="layui-container">
                                    <div class="layui-row">
                                        <div class="layui-col-md2"></div>
                                        <div class="layui-col-md8">
                                            <div style="text-align: center; font-size: 12px; margin-top: 16px;">
                                                <span id="stock_name"></span>&nbsp;&nbsp;
                                                <span id="stock_date"></span>&nbsp;&nbsp;
                                                <span id="stock_price"></span>&nbsp;&nbsp;
                                                <span id="stock_percent"></span>&nbsp;&nbsp;
                                                <span id="stock_volume"></span>&nbsp;&nbsp;
                                            </div>
                                            <div id="k_line_main" style="width: 1000px;height: 300px;margin-top: -40px;"></div>
                                            <div style="text-align:right; margin-top: -18px">
                                                <button class="layui-btn layui-btn-primary layui-btn-xs" onclick="settingMinuteLine('000001','sh')">上证指数</button>
                                                <button class="layui-btn layui-btn-primary layui-btn-xs" onclick="settingMinuteLine('399001','sz')">深成指数</button>
                                                <button class="layui-btn layui-btn-primary layui-btn-xs" onclick="settingMinuteLine('399006','sz')">创业板指</button>
                                            </div>
                                        </div>
                                        <div class="layui-col-md2"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-tab-item">
                                <div class="layui-container">
                                    <div class="layui-row">
                                        <div class="layui-col-md2"></div>
                                        <div class="layui-col-md8">
                                            <div id="date_k_line_main" style="width: 1000px;height: 300px;margin-top: -20px;"></div>
                                            <div style="text-align:right; margin-top: -18px">
                                                <button class="layui-btn layui-btn-primary layui-btn-xs" onclick="settingMinuteLine('000001','sh')">上证指数</button>
                                                <button class="layui-btn layui-btn-primary layui-btn-xs" onclick="settingMinuteLine('399001','sz')">深成指数</button>
                                                <button class="layui-btn layui-btn-primary layui-btn-xs" onclick="settingMinuteLine('399006','sz')">创业板指</button>
                                            </div>
                                        </div>
                                        <div class="layui-col-md2"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="http://hq.sinajs.cn/list=s_sh000001" charset="gb2312"></script>
    <script type="text/javascript" src="http://hq.sinajs.cn/list=s_sz399001" charset="gb2312"></script>
    <script type="text/javascript" src="http://hq.sinajs.cn/list=s_sz399006" charset="gb2312"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script th:src="@{public/stock/layui.all.js}"></script>
    <script th:src="@{public/stock/echarts.min.js}"></script>
    <script th:src="@{public/stock/js/console.js}"></script>
    <script type="text/javascript">

    </script>
</body>
</html>
