<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" th:href="@{public/stock/css/layui.css}">
    <link rel="stylesheet" th:href="@{public/stock/css/view.css}"/>
    <title></title>
</head>
<body class="layui-view-body">
<div class="layui-content">
    <div class="layui-row">
        <div class="layui-card">
            <div class="layui-card-body">
                <div class="form-box">
                    <button class="layui-btn layui-btn-blue"><i class="layui-icon">&#xe654;</i>新增</button>
                    <button class="layui-btn" data-type="getCheckData">保存</button>
                    <table id="optional_stock"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script th:src="@{public/stock/layui.js}"></script>
<script th:inline="none" th:src="@{public/stock/js/optional_stock.js}"></script>
<script type="text/javascript"  th:inline="none">

</script>
</body>
</html>