<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="per.san.example.mapper.UpDownPercentMapper" >

    <delete id="deleteBatch">
        delete from up_down_percent
        <where>
            id in
            <foreach collection="ids" item="id" open="(" close=")" separator=",">
                #{id}
            </foreach>
        </where>
    </delete>

    <select id="getHistoryUpByDate" resultType="per.san.example.domain.UpDownPercent">
        select * from up_down_percent
        <where>
            and trend_status = 'up'
            and DATE_FORMAT(create_date,'%Y-%m-%d') = #{dateStr}
            and (substring(code,1,1) = '0' or substring(code,1,1) = '6')
        </where>
        order by id ASC limit 27
    </select>
</mapper>
